<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DELIVERY DISPATCHER</title>
	<link rel="stylesheet" href="/leaflet/leaflet.css">
	<link rel="stylesheet" href="css/shared.css">
	<link rel="stylesheet" href="css/dispatcher.css">
	<script src="/vue/vue.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/leaflet/leaflet.js"></script>
	<script src="js/dispatcher.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<header>
	<ul>
		<h1><a>The Handy Penguin</a></h1>
	</ul>
</header>
<div id="page">
	<div id="drivers">
		<h2>Current Routes</h2>
		<div class="driver" v-for="route in routes">
			<h3>{{route.driver}}</h3>
			<p>Deliveries left: {{route.orders.length}}</p>
		</div>
		<nav class="nav-side">
			<h2>New Route</h2>

			<h3>Unassigned orders</h3>
			<div id="order-scroller">
				<div class="unassigned-order"
					 v-for="order in orders"
					 v-if="order.isRouted == false"
					 v-on:click="onSelectOrder(order, $event)"
				>
					<p>Order #{{order.id}}</p>
					<p>From: {{order.fromText}}</p>
					<p>To: {{order.destText}}</p>
				</div>
			</div>
			<p>Driver</p>
			<select v-model="newRouteDriver" id="new-route-driver">
				<option v-for = "driver in drivers">
					{{driver.driverId}}
				</option>
			</select>
			<button v-on:click="onFinishNewRoute()">Save Route</button>

			<a href="#" class="fab">+</a>
		</nav>
		<div class="fab"> + </div>
	</div>
	<div id="map-container">
		<div id="my-map"></div>
	</div>
</div>
</body>
</html>
